// Forms

// Global Form Styles

.widget[data-name="signupform"],
.widget[data-name="contactform"],
.widget[data-name="advancedcontactform"] {
	form {
		margin-bottom: 2em;
		.clearfix();

		@media @tablet-horizontal {
			max-width: 100%;
		}
		
		.form-group {
			margin-bottom: 1em;

			&:last-of-type,
			&.js-recaptcha {
				margin-bottom: 0;
			}
		}
	}
}

// Legend

.form .legend {
	.heading--3;
	margin-bottom: none;
}

// Label

.form label {
	margin: 0 0 0.3em;
	line-height: 1.5em;
	color: @color__form-label--text;

    .style--dark & {
		color: @color__form-label--text;
    }

	.style--light & {
        color: @color--dark;
    }

    .style--accent & {
        color: @contrast--accent;
    }
}

// Text Inputs

input[type="search"],
input[type="email"],
input[type="password"],
.input--single-line,
.input--search,
textarea,
select {
	.paragraph;
	height: 50px !important;
}

input[type="search"],
input[type="email"],
input[type="password"],
.input--single-line,
.input--search,
textarea {
    padding: 0.4em 0.6em;
    background-color: @color__form--background;
    border: 1px solid fade(@color__form--border, 75%);
	.transition(all 0.25s ease-in-out);
    .border-radius(0);
    .appearance(none);

    .style--dark & {
        background-color: @color__form--background;
        border-color: fade(@color__form--border, 75%);
    }

	.style--light & {
        background-color: fade(@color--dark, 5%);
        border-color: fade(@color--dark, 75%);
    }

    .style--accent & {
        background-color: fade(@contrast--accent, 5%);
        border-color: fade(@contrast--accent, 75%);
    }

	&:hover {
    	border-color: @color__form--border;

	    .style--dark & {
			border-color: @color__form--border;
	    }

    	.style--light & {
	        border-color: @color--dark;
	    }

	    .style--accent & {
	        border-color: @contrast--accent;
	    }
	}
	
	// Focus style for easier keyboard navigation
	
	&:focus {
    	border-color: @color__form--border;
		.box-shadow(none);

	    .style--dark & {
			border-color: @color__form--border;
	    }

		.style--light & {
	        border-color: @color--dark;
	    }

	    .style--accent & {
	        border-color: @contrast--accent;
	    }
	}
}

textarea {
	min-height: 100px;
}

// Dropdowns

.select-wrap {
    position: relative;
	background-color: @color-text--lightest;
    border: 1px solid fade(@color__form--border, 75%);
	.transition(all 0.25s ease-in-out);

    .style--dark & {
        background-color: @color-text--lightest;
        border-color: fade(@color__form--border, 75%);
    }

	.style--light & {
        background-color: fade(@color--dark, 5%);
        border-color: fade(@color--dark, 75%);
    }

    .style--accent & {
        background-color: fade(@contrast--accent, 5%);
        border-color: fade(@contrast--accent, 75%);
    }

	.responsivecolumns & {
		.style--dark & {
			background-color: @color-text--lightest;
			border-color: fade(@color__form--border, 75%);
		}
	
		.style--light & {
			background-color: fade(@color--dark, 5%);
			border-color: fade(@color--dark, 75%);
		}
	
		.style--accent & {
			background-color: fade(@contrast--accent, 5%);
			border-color: fade(@contrast--accent, 75%);
		}
	}

    &:hover,
	&:focus,
	&:hover:focus {
		border-color: @color__form--border;

	    .style--dark & {
			border-color: @color__form--border;
	    }

		.style--light & {
	        border-color: @color--dark;
	    }

	    .style--accent & {
	        border-color: @contrast--accent;
	    }

		.responsivecolumns & {
			.style--dark & {
				border-color: @color__form--border;
			}
	
			.style--light & {
				border-color: @color--dark;
			}
	
			.style--accent & {
				border-color: @contrast--accent;
			}
		}
    }

    @media @mobile {
        max-width: 100%;
    }

    &:after {
		content: "";
		cursor: pointer;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		margin-left: 0;
		width: 2.2em;
		background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMjYyODI5IiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTkgMTMuMTVsNyA3IDctNyIvPjwvc3ZnPg==");
		background-size: 2em;
		background-position: center center;
		background-repeat: no-repeat;
		background-color: @color__button--background;
		font-size: 1.2em;
		text-align: right;
		.transition(all 0.25s ease-in-out);

	    .style--dark & {
			background-color: @color__button--background;
	    }

		.style--light & {
			background-color: @color__button--background;
	    }

	    .style--accent & {
			background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZmZmIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTkgMTMuMTVsNyA3IDctNyIvPjwvc3ZnPg==");
	        background-color: @color--dark;
	    }
    }
	
	&:hover:after {
		background-color: @color__button--background--hover;

	    .style--dark & {
			background-color: @color__button--background--hover;
	    }

		.style--light & {
			background-color: @color__button--background--hover;
	    }

	    .style--accent & {
	    	background-color: darken(@color--dark, 5%);
	    }
	}
}

// Select

.select {
	z-index: 2;
    position: relative;
    display: block;
	padding: 0.4em 3.2em 0.4em 0.6em;
    width: 100%;
	background-color: transparent;
	border: none;
    .border-radius(0);
    .appearance(none);

    @media @mobile {
		padding: 0.4em 2.7em 0.4em 0.6em;
    }

    &:hover,
	&:focus,
	&:hover:focus {
		background-color: transparent;
    }
	
	option {
		background-color: @color__container--background;
	}
}

.select::-ms-expand {
    display: none;
}

// Placeholders

::-webkit-input-placeholder {
   	color: @color-text--light;

	.style--dark & {
		color: @color-text--light;
	}

   	.style--light & {
		color: fade(@color--dark, 90%);
    }

    .style--accent & {
        color: fade(@contrast--accent, 90%);
    }
}

:-moz-placeholder {
   	color: @color-text--light;

	.style--dark & {
		color: @color-text--light;
	}

	.style--light & {
		color: fade(@color--dark, 90%);
	}

	.style--accent & {
		color: fade(@contrast--accent, 90%);
	}
}

::-moz-placeholder {
   	color: @color-text--light;

	.style--dark & {
		color: @color-text--light;
	}

	.style--light & {
		color: fade(@color--dark, 90%);
	}

	.style--accent & {
		color: fade(@contrast--accent, 90%);
	}
}

:-ms-input-placeholder {
   	color: @color-text--light;

	.style--dark & {
		color: @color-text--light;
	}

	.style--light & {
		color: fade(@color--dark, 90%);
	}

	.style--accent & {
		color: fade(@contrast--accent, 90%);
	}
}

input:focus {
    &::-webkit-input-placeholder {
        color: transparent;
    }

    &:-moz-placeholder {
        color: transparent;
    }

    &::-moz-placeholder {
        color: transparent;
    }

    &:-ms-input-placeholder {
        color: transparent;
    }
}

// Radio Buttons and Checkboxes

.widget .form {
	.option-list,
	[class*="form-group--terms"] {
		margin-top: 0;
		margin-left: 0;

		.label--radio,
		.label--checkbox,
		label[for*="input--terms"],
		label[for*="input--terms"] span a.form__link {
			.paragraph;
			padding: 0;
			margin: 0.5em 0;
			line-height: 1.5em;
			text-align: left;
			color: inherit;
		}

		input[type="radio"],
		input[type="checkbox"] {
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: 0 !important;
			padding: 0 !important;
			width: 100% !important;
			height: 100% !important;
			.transition(all 0.25s ease-in-out);

			&:hover + label:before,
			&:checked + label:before,
			&:focus + label:before,
			&:focus:checked + label:before {
				border: 1px solid @color__form--border;
				.transition(all 0.25s ease-in-out);

			    .style--dark & {
			        border-color: @color__form--border;
			    }

				.style--light & {
			        border-color: @color--dark;
			    }

			    .style--accent & {
			        border-color: @contrast--accent;
			    }
			}

			&:checked + label:after {
				opacity: 1;
				.transition(all 0.25s ease-in-out);
			}
		}

		.option-item--radio,
		.option-item--checkbox,
		&[class*="form-group"] {
			position: relative;
			width: 100%;
			margin-bottom: 0;
			padding: 0;

			label {
				position: relative;
				cursor: pointer;
				display: block;
				margin-left: 1em * 2.5;
				.transform-scale(1);
				word-break: break-word;
				min-height: @font__p--line-height;
				
				&:before,
				&:after {
					content: " ";
					cursor: pointer;
					position: absolute;
					top: 0.75em;
				}

				&:before {
					left: -2.5em;
					width: 1.5em;
					height: 1.5em;
					min-width: 1.5em;
					max-height: 1.5em;
					margin-top: -0.75em;
					background-color: @color__form--background;
					border: 1px solid fade(@color__form--border, 75%);
					.border-radius(0);

				    .style--dark & {
						background-color: @color__form--background;
				        border-color: fade(@color__form--border, 75%);
				    }

					.style--light & {
				        background-color: fade(@color--dark, 5%);
				        border-color: fade(@color--dark, 75%);
				    }

				    .style--accent & {
				        background-color: fade(@contrast--accent, 5%);
				        border-color: fade(@contrast--accent, 75%);
				    }
				}

				&:after {
					opacity: 0;
					margin-top: -0.75em;
					left: -2.5em;
					height: 1.5em;
    				width: 1.5em;
					.transition(opacity 0.1s);
					line-height: 1.5em;
					color: @color__container--background;
					background-color: @color__button--background;
					.transform-scale(0.4);

				    .style--dark & {
						color: @color__container--background;
						background-color: @color__button--background;
				    }

					.style--light & {
						color: @color--light;
						background-color: @color--dark;
				    }

				    .style--accent & {
						color: @color--accent;
				    	background-color: @contrast--accent;
				    }
				}
			}
		}

		.option-item--radio {
			label {
				&:before,
				&:after {
					.border-radius(1em);
				}
			}
		}

		.option-item--checkbox {
			label {
				&:after {
					background: transparent !important;
					border-bottom: 6px solid @color__button--background;
					border-right: 6px solid @color__button--background;
					width: 1em;
					margin-left: 0.25em;
					margin-top: -0.85em;
					transform: rotate(45deg) scale(0.5);

				    .style--dark & {
						border-color: @color__button--background;
				    }

					.style--light & {
						border-color: @color--dark;
				    }

				    .style--accent & {
				    	border-color: @contrast--accent;
				    }
				}
			}
		}
		
		&[class*="form-group"] {
			margin-bottom: 20px;
		}
		
		label[for*="input--terms"] span a.form__link {
			text-decoration: none;
			border-bottom: 2px solid @color-highlight;

		    .style--dark & {
		        border-color: @color-highlight;
		    }

			.style--light & {
		        border-color: @color-highlight;
		    }

		    .style--accent & {
		        border-color: @color--dark;
		    }

			&:hover, &:active, &:visited {
				border-bottom: 5px solid @color-highlight;

			    .style--dark & {
					border-color: @color-highlight;
			    }

				.style--light & {
			        border-color: @color-highlight;
			    }

			    .style--accent & {
					border-color: @color--dark;
			    }
			}
		}
	}
}

// Error Messages

.form {
    input.error {
        border: none !important;
    }
    
    textarea.error {
        border: 1px solid @message-color--error !important;
    }
    
    .form-group {
        .error {
            border-bottom: 1px solid @message-color--error !important;
            
            &:focus {
				.box-shadow(none);
            }
        }
    }
}

// Form Group Button

.form-group {
	.button {
		white-space: nowrap;
		min-width: 100px;
		float: right;

		@media @mobile {
			width: 100%;
			min-width: auto;
		}
	
		.responsivecolumns & {
			width: 100%;
			min-width: auto;
		}
	}
}

// Sign Up Form

.signupform {
	.template__content section > .widget & {
		padding: 1em 0;
	}

	.form-body {
		display: flex;
		flex-wrap: wrap;
	}

	.form-group {
		&:first-child {
			flex-grow: 1;
			margin-right: 0.5em;

			@media @mobile {
				width: 100%;
				margin-right: 0;
				margin-bottom: 1em;
			}

			.responsivecolumns & {
				width: 100%;
				margin-right: 0;
				margin-bottom: 1em;
			}
		}
		
		&:first-child {
			@media @mobile {
				min-width: 100%;
			}
		}
	}

	label {
		display: none;
	}
}

// User Registration

.userregistration form {
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
}

// Highlighted Text

::-moz-selection {
    background: @color-text--light;

	.style--dark & {
		background: @color-text--light;
	}

	.style--light & {
		border-color: @color--dark;
	}

	.style--accent & {
		border-color: @contrast--accent;
	}
}

::selection {
    background: @color-text--light;

	.style--dark & {
		background: @color-text--light;
	}

	.style--light & {
		border-color: @color--dark;
	}

	.style--accent & {
		border-color: @contrast--accent;
	}
}