// Profile

// Global Profile Styles

.profile {
	h1, h2, h3, p, a {
	   .paragraph;
	   position: relative;
	   padding: 0;
	   color: inherit;
   }
}

// Widget outside the profile.

.address p {
   padding: 0;
}

// Twitter


// Signup Form

.profile {
   .form {
	   max-width: 100%;
   }
}

// Social Icons

.profile {
   .tweet-item {
	   margin: 0;
	   width: auto;

	   &:last-child {
		   margin: 0;
	   }
   }
}