// Twitter Feed

// Twitter Widget Container

.widget[data-name="twitter"] {
	.twitter-body-background--spacing();
	.twitter-widget-background--spacing();
}

// Tweet List

.twitter__tweet-list {
	.inline-block-font-hack();
	.display-flex(flex);
    .flex-wrap(wrap);
    .align-items(stretch, stretch);
	.item--margin-size--border();
}

// Tweet Item

.tweet-item {
	.paragraph;
	position: relative;
	padding: 20px;
	border: 1px solid @color-text--light;
	width: 48%;
	text-align: center;
	color: inherit;
	.item--margin-size--2to1-cols();
	.clearfix();

	.style--light & {
        border-color: @color-text--light;
    }

    .style--accent & {
        border-color: fade(@contrast--accent, 75%);
    }

    .style--dark & {
        border-color: fade(@contrast--dark, 75%);
    }
	
    @media @mobile {
		width: 100%;
    }
	
    .responsivecolumns & {
		width: 100%;
		margin: 2% 0;
    }
}

// Avatar

.twitter__avatar {
	position: static;
	margin: 0.5em auto 1em;
	width: 48px;
	text-align: center;
}

.twitter__avatar-image {
	display: block;
	width: 48px;
	height: 48px;
}

// Account Link

a.twitter__account-link {
    display: block;
	padding: 0 0 1em;
	hyphens: none;
    overflow-wrap: break-word;
	.paragraph;
	color: inherit;
	line-height: 1.2em !important;
	
}

// Content

.tweet-content {
	padding: 0 0.5em;
    line-height: 1.5em;
	letter-spacing: -0.025em;

	.profile & {
		font-family: @font__h3--font-family;
	}
	
	&, a {
		.heading--4;
		letter-spacing: -0.025em;
		text-transform: none;
		font-family: @font__h3--font-family;
	}
	
	&:before {
		content: "\201c";
	}
	
	&:after {
		content: "\201d";
	}
}

// Tweet Metadata

.tweet-metadata {
	position: relative;
	margin-top: 2em;
	padding-top: 1.5em;
	line-height: 1.4em !important;

	.style--light & {
        border-color: @color-text--light;
    }

    .style--accent & {
        border-color: fade(@contrast--accent, 75%);
    }

    .style--dark & {
        border-color: fade(@contrast--dark, 75%);
    }
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: -20px;
		right: -20px;
		border-top: 1px solid @color-text--light;
	}
	
	// Twitter link at the end.
	
	.twitter__timestamp {
		display: block;
		font-size: 0.8em;
		.timestamp-styles;
	}
	
	.via, a {
		color: fade(@color__p--text, 50%);
		line-height: 1em;

		.style--light & {
	        color: fade(@color__p--text, 50%);
	    }

	    .style--accent & {
	        color: fade(@contrast--accent, 50%);
	    }

	    .style--dark & {
	        color: fade(@contrast--dark, 50%);
	    }
	}
}