// Widgets

// Standard Widgets

section.template {
	min-height: @font__companyname--font-size+40px;
		
	@media @tablet-horizontal {
		min-height: @font__companyname--font-size*2+40px;
	}
		
	@media @mobile {
		min-height: @font__companyname--font-size+40px;
	}
	
	&.template__home {
		margin-top: 0 !important;
	}
}

.template__content {
	position: relative;
}

.template__content,
.template__content section {
	> .widget {
		.widget-styles;
		
		&[data-name="content"] {
			.widget-content-styles;
		}
	}
	
	.responsivecolumns {
		.widget {
			width: auto;
			max-width: none;
			margin: 0;
			padding: 0;
			border: none;
			background-color: transparent;
		}
	}
}

// Layout Width Widgets

.template__content >,
.template__content section > {
	.widget[data-name="line"],
	.widget[data-name="line"] {
		padding-left: 0;
		padding-right: 0;
	}
	
	.widget[data-name="line"] .line,
	.widget[data-name="line"] .line {
		max-width: none;
	}

	// Widget Animations

	form,
	.widget[data-name="gallery"] li.gallery-item,
	.widget[data-name="responsiveslideshow"],
	.widget[data-name="map"],
	.widget[data-name="youtube"],
	.widget[data-name="blogpostlist"] .post-article,
	.widget[data-name="ecomproductslist"] li.product-item,
	.widget[data-name="ecomfeaturedproducts"] li.product-item {
		opacity: 0;
		.animation(fadeInUp 1s cubic-bezier(.70,0,0,1) 0.25s forwards);
	}
}

// Page Width Widgets

.template__content,
.template__content section {
	.widget {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		max-width: @layout-max-width-text;
		padding-right: 1em;
		padding-left: 1em;

		@media @desktop {
			padding-right: 0;
			padding-left: 0;
			width: 90%;

			#migrated & {
				width: 100%;
			}
		}
	}
}

.template__content .responsivecolumns,
.template__content .responsivecolumns section {
	.widget {
		padding-right: 0;
		padding-left: 0;
	}
}

.template__content,
.template__content section {
	.widget[data-name="gallery"],
	.widget[data-widget-type="gallery"],
	.widget[data-name="responsiveslideshow"],
	.widget[data-name="map"],
	.widget[data-name="youtube"],
	.widget[data-name="blogpostlist"],
	.widget[data-name="blogpost"],
	.widget[data-name="ecomproductslist"],
	.widget[data-name="ecomfeaturedproducts"] {
		padding: 0;
		max-width: @layout-max-width;
		
		> * {
			max-width: none;
			padding: 0;
			background: transparent;
		}
		
		&:before, &:after {
			content: "";
			display: block;
		}
		
		&:first-child {
			&:before {
				content: none;
			}
		}
		
		&:last-child {
			&:after {
				content: none;
			}
		}
	
		.responsivecolumns & {
			&:before, &:after {
				content: none;
			}
		}
	}
}

// Line Widget

.template__content {
	&, section, .responsivecolumns section.column {
		> .widget[data-name="line"] {
			padding-top: 2em;
			padding-bottom: 2em;
		}
	}
}

hr,
.line {
	line-height: 0;
	font-size: 0;
}

hr,
hr.line__rule {
	height: 1px;
	border: none;
	background-color: @color__p--text;

	.style--dark & {
		background-color: @color__p--text;
	}

	.style--light & {
		background-color: @color--dark;
	}

	.style--accent & {
		background-color: @contrast--accent;
	}
}