// Table

table {
	.paragraph;
	min-width: 100%;
	max-width: 100%;
	border: none;
	border-collapse: separate;
	border-spacing: 0;
	margin: 0 0 1em;
	color: inherit;
		
	@media @tablet {
		display: block;
		border-top: 1px solid;
		border-bottom: 1px solid;
	}
	
	.responsivecolumns & {
		display: block;
		border-top: 1px solid;
		border-bottom: 1px solid;
	}
}

// Table Body and Table Row

tbody,
tr {
	@media @mobile {
		display: block;
	}
	
	.responsivecolumns & {
		display: block;
	}
}

// Table Cell

td, th {
	.paragraph;
	border: none;
	background-color: transparent;
	padding-bottom: 0;
	color: inherit;
	
	tr:first-child & {
		border-top: 1px solid;
	}
		
	@media @mobile {
		display: block;
	}
	
	.responsivecolumns & {
		display: block;
	}
}

th {
	padding: 0.5em;
	border-bottom: 1px solid;
	font-weight: 700;
		
	@media @mobile {
		display: none;
	}
	
	.responsivecolumns & {
		display: none;
	}
}

td {
	border-bottom: 1px solid @color-text--light;
	padding: 1em 0.5em;
	line-height: 1.5em;

	.style--dark & {
		border-bottom-color: @color-text--light;
	}

	.style--light & {
		border-bottom-color: fade(@color--dark, 50%);
	}

	.style--accent & {
		border-bottom-color: fade(@contrast--accent, 50%);
	}
		
	@media @tablet {
		tr:last-child & {
			border-bottom: none;
			padding-bottom: 0;
		}
	}
	
	@media @mobile {
		display: block;
		border-bottom: 1px solid transparent;
		padding: 0;
		width: auto !important;
		
		&:first-child {
			padding-top: 1em;
		}
		
		&:last-child {
			border-bottom: 1px solid @color-text--light;
			padding-bottom: 1em;
		
			.style--dark & {
				border-bottom-color: @color-text--light;
			}

			.style--light & {
				border-bottom-color: fade(@color--dark, 50%);
			}
		
			.style--accent & {
				border-bottom-color: fade(@contrast--accent, 50%);
			}
		}
		
		tr:last-child &:last-child {
			border-bottom: 1px solid transparent;
			padding-bottom: 0;
		}
	}
	
	.responsivecolumns & {
		display: block;
		border-bottom: 1px solid transparent;
		padding: 0;
		
		&:first-child {
			padding-top: 1em;
		}
		
		&:last-child {
			border-bottom: 1px solid @color-text--light;
			padding-bottom: 1em;
		
			.style--dark & {
				border-bottom-color: @color-text--light;
			}

			.style--light & {
				border-bottom-color: fade(@color--dark, 50%);
			}
		
			.style--accent & {
				border-bottom-color: fade(@contrast--accent, 50%);
			}
		}
		
		tr:last-child & {
			border-bottom: none;
			padding-bottom: 0;
		}
		
		tr:last-child &:last-child {
			border-bottom: 1px solid transparent;
			padding-bottom: 0;
		}
	}
}