// Variables

// Breakpoints

@desktop-wide: ~"only screen and (max-width: 2000px)";
@desktop: ~"only screen and (max-width: 1650px)";
@desktop-narrow: ~"only screen and (max-width: 1200px)";
@tablet-horizontal: ~"only screen and (max-width: 1024px)";
@columns-tablet: ~"only screen and (max-width: 925px)";
@columns-mobile: ~"only screen and (max-width: 650px)";

// Layout

@layout-max-width: 1600px;
@layout-max-width-text: 940px;

// Global Widget Spacing

@value__widget--spacing--desktop: 70px;
@value__widget--spacing--laptop:  60px;
@value__widget--spacing--tablet:  40px;
@value__widget--spacing--mobile:  30px;

// Colors

@color-text--faded: fade(@color__p--text, 75%);
@color-text--light: fade(@color__p--text, 50%);
@color-text--lighter: fade(@color__p--text, 25%);
@color-text--lightest: fade(@color__p--text, 5%);

@color-highlight-darker: darken(@color__link--text, 5%);
@color-highlight: @color__link--text;
@color-highlight--light: lighten(@color__link--text, 5%);
@color-highlight--lighter: lighten(@color__link--text, 20%);