<footer class="template__footer">
	<div class="footer--container">
		<div class="footer--contact">
			<div class="footer--contact-left">
				{{widget('profile', 'footer-profile-contact-left', {'profileType':'form'})|raw}}
			</div>
			<div class="footer--contact-right">
				{{widget('profile', 'footer-profile-contact-right', {'profileType':'socialicons'})|raw}}
			</div>
		</div>
	</div>
</footer>